.mainBanner {
  padding-right: 5px;
}
.mainBanner {
  padding: 0;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  height: 80vh;
}
.carousel {
  width: 100%;
  scale: 1.05;
}

.sideBanner {
  padding-left: 5px;
}
.sideBanner {
    display: block;
    overflow: hidden;
  
  border-radius: 10px;
  padding: 10px;
  height: 80vh;
}

.sideBanner img {
    padding-top: 25px;
    padding-left: 7px;
    width: 100%;
}
.sideCarousel {
    height: 100%;
    scale: 1.15;
}