body{
  background-color: rgb(255, 255, 255);
}

header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  display: block;
  position: relative;
}

.logoImg img {
  margin-bottom: 35px;
  margin-top: 25px;
  margin-left: 50px;
  width: 20%;
}

/* unvisited link */
.navLink {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  text-align: center;
}
.navLink a {
  text-decoration: none;
  margin-right: 25px;
  margin-left: 50px;
  text-align: center;
  position: relative;
}

.navLink a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
.navLink a:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
.navLink a:hover {
  color: rgb(54, 54, 54);
  font-weight: bold;
}

/* selected link */
.navLink a:active {
  color: blue;
}

.userIcon {
  display: flex;
  justify-content: right;
  align-items: right;
  font-size: 22px;
  padding-right: 50px;
}

.userIcon i {
  padding-left: 20px;
}

.userIcon a {
  color: rgb(0, 0, 0);
}

.pdPanel {
  /* margin-top: 50px; */
  width: 100%;
  height: max-content;
  background-color: rgb(255, 255, 255);
}
.pdPanel h1{
  box-shadow: 10px 10px rgb(74, 74, 74);
  /* margin-top: 200px; */
  margin-bottom: 0px;
  background-color: black;
  color: white;
  font-weight: bold;
  width: fit-content;
  padding: 20px;
}
.pdRow{
  display: grid;
  gap: 1rem;
  margin: auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 2vw;
}

.pdCard {
  transition: 0.3s;
  background-color: white;
  display: block;

  width: 23vw;
  margin-bottom: 100px;
  transition:  1s ease;
  box-shadow: 3px 3px rgb(74, 74, 74);
  /* box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.377); */
}

.pdCard img {
  max-width: 100%;
  max-height: 100%;
}


.pdSubImg img {
  max-width: 100%;
  max-height: 100%;
}

.pdBanner {
  width: 100%;
  margin: 0;
}
.pdBanner h6{
  background-color: black;
  color: white;
  font-weight: bold;
  width: fit-content;
  padding: 10px;
}
.pdBanner a {
  padding: 10px;
  float: right;
  color: black;
}

.pdName h2{
  font-weight: lighter;
}


.pdPrice i {
  background-color: black;
  float: right;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: larger;
  color: white;
  transition: 0.3s;
}

.pdPrice i:hover{
  background-color: aqua;
  color: black;
}
.pdPrice p {
  font-size: smaller;
}

.pdCard:hover {
  box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.377);
  transform: scale(1.2);
}

.spacer{
  height: 10vh;
}