body {
    background-color: rgb(255, 255, 255);
    font-family: Montserrat;
}

iframe {
    padding: 0;
    margin: 0;
}
.herobanner img{
    padding: 0;
    margin: 0;
}

.productlineup {

    margin-left: 0;
    margin-right: 0;
    padding-top: 50px;
    padding-left: 55px;
    padding-bottom: 150px;
    background-color: rgb(240, 238, 234);
}
.productlineup img{
    transition: transform 1s ease;
}
.productlineup img:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 8px rgba(17, 17, 17, 0.705);
}
.pdLines {
    background-color: rgb(38, 38, 38);
    width: fit-content;
    padding: 10px;
    text-decoration: underline;
    color: white;

}

.pdMoto {
    background-color: rgb(38, 38, 38);
    box-shadow: 10px 10px rgb(74, 74, 74);
    color: white;
    padding: 10px;
}

.carousel {
    padding: 0px;
}