<!DOCTYPE html>
<html lang="en" xmlns ="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Bootstrap5 Library -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <!-- Animation on Sroll -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- CSS & JS -->
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/pages.css}">
  <link rel="stylesheet" th:href="@{/css/font.css}">
  <title>MUROexe</title>
</head>

<body>
    <header>
      <container>
          <div class="row logoImg">
              <img src="./Assets/Img/muroexe.png"/>
          </div>
          <div class="row">
              <div class="col-9 navLink">
                  <a href="#">Shoes</a>
                  <a href="#">Sneakers</a>
                  <a href="#">Slipers</a>
                  <a href="#">Boots</a>
                  <a href="#">Accessories</a>
              </div>
              <div class="col-3 userIcon">
                  <a href="#"><i class="bi bi-search"></i></a>
                  <a href="#"><i class="bi bi-person-fill"></i></a>
                  <a href="#"><i class="bi bi-cart-fill"></i></a>
              </div>
          </div>
        </container>
  </header>


<div></div>

  <div class="row p-0 m-0 herobanner rellax" data-rellax-zindex="2" data-rellax-speed="-2">
    <!-- Use Image Carousel -->
    
    <img th:src="@{/Assets/Img/Screen Shot 2022-06-04 at 21.25 1.png}" />
  </div>

  <div class="container-fluid productlineup  rellax"  data-rellax-speed="3" data-rellax-zindex="5">
    <h1 class="rellax pdLines" data-rellax-speed="1" data-aos="zoom-in">Product Lines</h1>
    <div class="row">
      <div class="col-3" data-aos="fade-up">
        
        <a href="#"><img th:src="@{/Assets/Img/Mask group-1.png}" /></a>
      </div>
      <div class="col-3" data-aos="fade-up">
        <a href="#"><img th:src="@{/Assets/Img/Mask group-2.png}" /></a>
      </div>
      <div class="col-1">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
      </div>
      <div class="col-4" data-aos="fade-up">
        <h1 class="rellax pdMoto" data-rellax-speed="-1">
          WE ARE <br />
          #DOTHEFUTURE
          <br />
        </h1>
        <h5 class="rellax mt-5" data-aos="fade-down" data-rellax-speed="-1">
          Elegant and technic daily product. Extreme comfort.<br />
          <br />
          <br />
          100% animal free.
        </h5>
      </div>
    </div>
    <span>&nbsp;</span>
    <div class="row">
      <div class="col-3" data-aos="fade-up">
        <a href="#"><img th:src="@{/Assets/Img/Mask group-3.png}" /></a>
      </div>
      <div class="col-3" data-aos="fade-up">
        <a href="#"><img th:src="@{/Assets/Img/Mask group.png}" /></a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h1>PRODUCT LISTED</h1>
  </div>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <h1>Muroexe World</h1>
        </div>
        <div class="col-3">
          <h1>Information</h1>
        </div>
        <div class="col-3">
          <h1>Buy guide</h1>
        </div>
        <div class="col-3">
          <h1>Contact us</h1>
        </div>
      </div>
    </div>
  </footer>
  <!-- Scripts are places in the bottom of body in order to increase the webpage perfromance as the page load the scripts after the body had been rendered -->
  <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
  <script>
    var rellax = new Rellax(".rellax", {
      horizontal: false,
      vertical: true,
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>
